@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

p#aviso {
    display: none;
    position: fixed;
    border-radius: 5px;
    background-color: #f29b9b;
    font-size: 20px;
    z-index: 2;
    padding: 30px;
    margin-top: 40px;
}

p#aviso a {
    display: inline-block;
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

#jogo {
    width: 500px;
    height: 200px;
    background-color: #93caf5;
}

#nuvem {
    width: 500px;
    height: 60px;
    background-image: url('img/nuvens.png');
    background-size: 80px;
    background-repeat: repeat-x;
    position: relative;
    top: 0;
    right: 0;
}

button {
    margin-top: 30px;
    padding: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url('img/botao_ativado.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#personagem {
    width: 70px;
    height: 70px;
    background-image: url('img/bike.png');
    background-size: cover;
    position: relative;
    top: 75px;
    z-index: 1;
}

.pular {
    animation: personagem 350ms ease-in-out;
}

@keyframes personagem {
    0% {
        top: 75px;
    }

    20% {
        top: 20px;
    }

    30% {
        top: 20px;
    }

    40% {
        top: 20px;
    }

    50% {
        top: 20px;
    }

    60% {
        top: 20px;
    }

    70% {
        top: 20px;
    }

    80% {
        top: 20px;
    }

    100% {
        top: 75px;
    }
}

#obstaculo {
    width: 30px;
    height: 30px;
    background-image: url('img/cone.png');
    background-size: cover;
    position: relative;
    top: 40px;
    left: 480px;
    animation: obstaculo 1.3s infinite linear;
    z-index: 1;
}

@keyframes obstaculo {
    0% {
        left: 480px;
    }

    100% {
        left: -10px;
    }
}

#avenida {
    width: 500px;
    height: 20px;
    background-image: url('img/avenida_movimento.gif');
    background-size: contain;
    position: relative;
    top: -10px;
}

@media(max-width: 500px) {
    #jogo {
        width: 400px;
    }

    #avenida {
        width: 400px;
    }

    #nuvem {
        width: 400px;
    }

    @keyframes obstaculo {
        0% {
            left: 380px;
        }

        100% {
            left: -10px;
        }
    }

    button {
        margin-top: 5px;
    }
}

@media(max-width: 400px) {
    #jogo {
        width: 300px;
    }

    #avenida {
        width: 300px;
    }

    #nuvem {
        width: 300px;
    }

    @keyframes obstaculo {
        0% {
            left: 280px;
        }

        100% {
            left: -10px;
        }
    }

    #obstaculo {
        animation: obstaculo 1.1s infinite linear;
    }
}